@font-face {
    font-family: 'Kyiv Type Titling';
    src: url('../fonts/KyivTypeTitling-Regular.woff2') format('woff2'), url('../fonts/KyivTypeTitling-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Kyiv Type Titling';
    src: url('../fonts/KyivTypeTitling-Bold.woff2') format('woff2'), url('../fonts/KyivTypeTitling-Black.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kyiv Type Titling';
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
}

body{
    background: url('../img/background.webp') 0 0 / cover no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar{ /*Код для прокрутки*/ 
    background: rgb(0, 0, 0);
    width: 8px;
}

body::-webkit-scrollbar-thumb{
    background: rgb(255, 193, 0);
    background: linear-gradient(180deg, rgba(255, 193, 0, 1) 0%, rgba(255, 225, 132, 1) 100%)
}

.container{
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 10px;
}

.footer__box {
    padding: 15px;
    margin: 0 auto;
    width: fit-content;
    color: #BEBEBE;
    text-align: center;
}

.footer__social{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}