@font-face {
	font-family: 'Kyiv Type Titling';
	src: url('Kyiv*TypeTitling.woff2') format('woff2') url('Kyiv*TypeTitling.woff') format('woff');
	font-weight: 1;
	font-style: normal;
}
@font-face {
	font-family: 'Kyiv Type Titling';
	src: url('KyivTypeTitling-Thin.woff2') format('woff2') url('KyivTypeTitling-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Kyiv Type Titling';
	src: url('KyivTypeTitling-Light.woff2') format('woff2') url('KyivTypeTitling-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Kyiv Type Titling';
	src: url('KyivTypeTitling-Regular.woff2') format('woff2') url('KyivTypeTitling-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Kyiv Type Titling';
	src: url('KyivTypeTitling-Medium.woff2') format('woff2') url('KyivTypeTitling-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Kyiv Type Titling';
	src: url('KyivTypeTitling-Bold.woff2') format('woff2') url('KyivTypeTitling-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Kyiv Type Titling';
	src: url('KyivTypeTitling-Heavy.woff2') format('woff2') url('KyivTypeTitling-Heavy.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Kyiv Type Titling';
	src: url('KyivTypeTitling-Black.woff2') format('woff2') url('KyivTypeTitling-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
